.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 999;
}

.modal > img {
  max-height: 95%;
}

/* Close icon in modal */
.close-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}

.close-icon:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

.close-icon span {
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.close-icon span:first-child {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.close-icon span:last-child {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* Chevron icon in modal */
.chevron-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}

.chevron-icon:hover {
  opacity: 0.8;
}

.chevron-icon--right {
  transform: rotate(180deg);
}

.chevron-icon span {
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  transform-origin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.chevron-icon span:first-child {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.chevron-icon span:last-child {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}